button{
    width: 25px;
    height: 25px;
    text-align: center;
}

table{
    width: 10px;
}

img{
    position: relative;
    left: 50px;
    height: 300px;
    width: 300px;
}

button#cambia{
    width: 80px;
    height: 40px;
    margin-left: 4px;
    grid-row: 4;
}

input#texto{
    size: 5px;
}

body{
    display: grid;
    grid-template-columns: 1fr 5fr;
    text-align: center;
}